FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=
FIREBASE_ADMIN_PROJECT_ID=
GEMINI_API_KEY=
GOOGLE_MAPS_PLATFORM_KEY=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_MEASUREMENT_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_DEVELOPER_MODE=
VITE_GA_MEASUREMENT_ID=G-CTEEJ1427G
VITE_META_PIXEL_ID=1591130989374283
STRIPE_TEST_SECRET_KEY=
STRIPE_SECRET_KEY=sk_test_51UJJ969uDtNySSraHAdIK1PPdzoOUkR1pIFolKu4izNbMSKDaFo1wL5zj80KPxhW3lz81sbtaMppZN7vmeNGL3EI00JwjCxOck
VITE_STRIPE_PUBLISHABLE_KEY=
VAPID_PUBLIC_KEY=BDEoPYVIWr6y69eA98bjgPGLyKJSxhut4tp_rr0AuZOBlRoe9zY92NwmKSpKCKWI2nJY45ET5Z_YJkETbaxu6PE
VITE_VAPID_PUBLIC_KEY=BDEoPYVIWr6y69eA98bjgPGLyKJSxhut4tp_rr0AuZOBlRoe9zY92NwmKSpKCKWI2nJY45ET5Z_YJkETbaxu6PE
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:seguridad@essenyamexico.com

