FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=
FIREBASE_ADMIN_PROJECT_ID=
GEMINI_API_KEY=
GOOGLE_MAPS_PLATFORM_KEY=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_MEASUREMENT_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_DEVELOPER_MODE=
VITE_GA_MEASUREMENT_ID=G-CTEEJ1427G
VITE_META_PIXEL_ID=1591130989374283
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
