rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isImageOrPdf() {
      return (request.resource.contentType.matches('image/jpeg') && request.resource.name.matches('.*\\.jpe?g$'))
          || (request.resource.contentType.matches('image/png') && request.resource.name.matches('.*\\.png$'))
          || (request.resource.contentType.matches('application/pdf') && request.resource.name.matches('.*\\.pdf$'));
    }
    
    function isValidSize() {
      return request.resource.size <= 15 * 1024 * 1024;
    }

    match /terapeutas/{therapistUid}/documentos/{fileName} {
      allow read: if request.auth != null && (
        request.auth.uid == therapistUid 
        || request.auth.token.role == 'administrador'
        || request.auth.token.email == 'essenya222@gmail.com'
      );
      
      allow write: if request.auth != null && (
        request.auth.uid == therapistUid 
        || request.auth.token.role == 'administrador'
        || request.auth.token.email == 'essenya222@gmail.com'
      ) && isValidSize() && isImageOrPdf();
    }

    match /terapeutas_publicos/{therapistUid}/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (
        request.auth.uid == therapistUid 
        || request.auth.token.role == 'administrador'
        || request.auth.token.email == 'essenya222@gmail.com'
      ) && isValidSize() && isImageOrPdf();
    }
    
    match /clientes/{clientUid}/{allPaths=**} {
      allow read: if request.auth != null && (request.auth.uid == clientUid || request.auth.token.role == 'administrador'); 
      allow write: if request.auth != null && request.auth.uid == clientUid && isValidSize() && isImageOrPdf();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
